Source: swift-sftp
Section: net
Priority: optional
Maintainer: Hironobu Saito <hiro@hironobu.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/hironobu-s/swift-sftp
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/swift-sftp.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/swift-sftp.git

Package: swift-sftp
Architecture: amd64
Depends: ${misc:Depends}, systemd
Description: SFTP server for OpenStack Swift Object Storage
 You can control Object Storage through common SFTP client.
 